@font-face {
    font-family: Norse-bold;
    src: url(./font/Norse-Bold.otf);
}
*{
    --green-color: #596D48;
    --form-border-color:#E5E7EB;
}
#background-photo img[src="./background photo/leaf background.jpg"]{
    height: 100vh;
    width: 30%;
}
#logo{
    display: flex;
    flex-direction: row;
}
#logo img[src="./background photo/odin-lined.png"]{
    height: 120px;
    width: 90px;
}
#logo-text{
    font-family: 'Norse-bold';
    font-size: 60px;
    display: inline;
    margin-top: 50px;
}