@font-face {
    font-family: Norse-bold;
    src: url(./font/Norse-Bold.otf);
}
*{
    --green-color: #596D48;
    --form-border-color:#E5E7EB;
}
#background-photo img[src="./background photo/leaf background.jpg"]{
    height: 100vh;
    width: auto;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
#logo img[src="./background photo/odin-lined.png"]{
    height: 120px;
    width: 90px;
}
#logo-text{
    font-family: 'Norse-bold';
    font-size: 60px;
    margin-top: 40px;
    color: white;
}
div#logo.logo{
    background-color: black;
    position: absolute;
    top: 20%;
    left: 10%;
}