@font-face {
    font-family: Norse-bold;
    src: url(./font/Norse-Bold.otf);
}
:root{
    --green-color: #596D48;
    --form-border-color:#E5E7EB;
}
.content{
    height: 100vh;
    width: 100vw;
}
#background-photo img[src="./background photo/leaf background.jpg"]{
    height: 100vh;
    width: auto;
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
#logo img[src="./background photo/odin-lined.png"]{
    height: 120px;
    width: 90px;
}
#logo-text{
    font-family: 'Norse-bold';
    font-size: 60px;
    margin-top: 40px;
    color: white;
}
div#logo.logo{
    background-color: rgba(0, 0, 0, 0.536);
    position: absolute;
    top: 20%;
    width: 562px;
}
.photo-credit{
    position: absolute;
    bottom: 0.5%;
    left: 10%;
    color: #E5E7EB;
}
.photo-credit a {
    color: #E5E7EB;
}
.content,.right-side{
    width: 100%;
    height: 39vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right-side h1{
    padding-top: 10%;
    padding-left: 5%;
}
.right-side h1 .header-para{
    margin-top: 20px;
}
.right-side{
    display: flex;
    flex-direction: column;
}
#input{
    display: flex;
    flex-direction: row;
}